.wrap {
  /* thumb */
  --thc: darkorange;
  --thfc: red;
  --thd: 2em;
  --thyoff: -25%;
  --thr: calc(var(--thd) / 2);
  --thbr: calc(var(--thd) / 2);
  /* track */
  --tcol: #f5f5f5;
  --tw: 100%;
  --th: 1em;
  --tbr: var(--thbr);
  /* range */
  --rcol: #00bcd4;
  --rdiff: calc(var(--max) - var(--min));
  --ruse: calc(var(--tw) - var(--thd));
  display: grid;
  grid-template: repeat(2, -webkit-max-content) var(--th) / 1fr 1fr;
  grid-template: repeat(2, max-content) var(--th) / 1fr 1fr;
  position: relative;
  margin: calc(var(--thr) / 2) auto;
  width: var(--tw);
  background: linear-gradient(0deg, var(--tcol) var(--th), transparent 0);
  border-radius: var(--tbr);
}
.wrap::before,
.wrap::after {
  grid-column: 1 / span 2;
  grid-row: 3;
  background: var(--rcol);
  content: '';
}
.wrap::before {
  margin-left: calc(var(--thr) + (var(--a) - var(--min)) / var(--rdiff) * var(--ruse));
  width: calc((var(--b) - var(--a)) / var(--rdiff) * var(--ruse));
}
.wrap::after {
  margin-left: calc(var(--thr) + (var(--b) - var(--min)) / var(--rdiff) * var(--ruse));
  width: calc((var(--a) - var(--b)) / var(--rdiff) * var(--ruse));
}

[id='multi-lbl'] {
  grid-column: 1 / span 2;
}

input[type='range'] {
  grid-column: 1 / span 2;
  grid-row: 3;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
  background: none;
  /* get rid of white Chrome background */
  --col: #000;
  pointer-events: none;
}
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb,
input[type='range'] {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background: none;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 100%;
  background: none;
}
input[type='range']::-webkit-slider-thumb {
  width: var(--thd);
  height: var(--thd);
  transform: translateY(var(--thyoff));
  background: var(--thc);
  border-radius: var(--thbr);
  pointer-events: auto;
  cursor: pointer;
}
input[type='range']::-moz-range-thumb {
  width: var(--thd);
  height: var(--thd);
  transform: translateY(var(--thyoff));
  background: var(--thc);
  border-radius: var(--thbr);
  pointer-events: auto;
  cursor: pointer;
}

input[type='range']:focus {
  --col: var(--thc);
}

input[type='range']::-moz-range-thumb:hover {
  background: var(--thfc);
}

input[type='range']::-webkit-slider-thumb:hover {
  background: var(--thfc);
}
